.note-item-container{
    background-color: #494747;
    border-radius: 12px;
    position: relative;
}

.title {
    text-align: left;
    padding-left: 1rem;
}

.note-body {
    padding: .5rem;
    margin: .5rem;
    text-align: left;
}
.note-body:hover, .title:hover {
    background-color: #353333;
    border-radius: .5rem;
}

.title:hover {
    width: fit-content;
    padding-right: 1rem;
    padding-left: .5rem;
    margin-left: .5rem;
}

.button {
    border-radius: 50%;
    background-color: grey;
}
.delete-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem .7rem;
}
.delete-button:hover {
    background-color: cornsilk;
}
.delete-button img {
    width: 1rem;
}